# Firebase Configuration
VITE_FIREBASE_API_KEY=AIzaSyAGPRbt02kBE3WeRZLCJvxZa6xZO7tql94
VITE_FIREBASE_AUTH_DOMAIN=levelmak-ab554.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=levelmak-ab554
VITE_FIREBASE_STORAGE_BUCKET=levelmak-ab554.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=1092880599405
VITE_FIREBASE_APP_ID=1:1092880599405:web:644c21faae23be7879f264

# Gemini API Key
VITE_GEMINI_API_KEY=your_gemini_api_key_here
